<div class="widget-container">
  <h2 class="widget-header">User Management</h2>
  <hr class="widget-header-seperator">
  <table class="user-management-table" *ngIf="users">
    <thead></thead>
    <tr class="primary-row">
      <td>First Name</td>
      <td>Last Name</td>
      <td>Username</td>
      <td class="email-header">Email</td>
      <td class="password-header">Password</td>
    </tr>
    <tr class="output-row" *ngFor="let user of users">
      <td [routerLink]="['/user']">{{user.firstName}}</td>
      <td [routerLink]="['/user']">{{user.lastName}}</td>
      <td [routerLink]="['/user']">{{user.username}}</td>
      <td class="email-output" [routerLink]="['/user']">{{user.email}}</td>
      <td class="change-password" [routerLink]="['/']"><a class="change-password-link">change</a></td>
    </tr>
  </table>
</div>
