<div class="widget-container">
  <h2 class="widget-header">User Management</h2>
  <hr class="widget-header-seperator">
  <table class="user-management-table">
    <thead></thead>
    <tr class="primary-row">
      <td>First Name</td>
      <td>Last Name</td>
      <td>Username</td>
      <td class="email-header">Email</td>
      <td class="password-header">Password</td>
    </tr>
    <tr class="output-row">
      <td>Stephen</td>
      <td>Wright</td>
      <td>StephenWright</td>
      <td class="email-output">stephen@test.com</td>
      <td class="change-password"><a class="change-password-link">change</a></td>
    </tr>
    <tr class="output-row">
      <td>Lydia</td>
      <td>Wright</td>
      <td>LydiaWright</td>
      <td class="email-output">lydia@test.com</td>
      <td class="change-password"><a class="change-password-link">change</a></td>
    </tr>
    <tr class="output-row">
      <td>Isaac</td>
      <td>Wright</td>
      <td>IsaacWright</td>
      <td class="email-output">isaac@test.com</td>
      <td class="change-password"><a class="change-password-link">change</a></td>
    </tr>
  </table>
</div>
