<div class="login-register-container">
  <div class="forms-container">
    <h1 class="app-header">AUTH APP</h1>
    <ul class="forms-selector-list">
      <li class="forms-selector-option">Login</li>
      <li class="forms-selector-option">Register</li>
    </ul>
    <div class="forms-output-container">
      <div class="login-form-container">
        <h2 class="form-header">Head on in.</h2>
        <form class="login-form">
          <div class="form-row">
            <input type="text" class="form-input">
          </div>
          <div class="form-row">
            <input type="password" class="form-input">
          </div>
          <div class="form-row">
            <input type="submit" class="form-submit" value="LOG IN">
          </div>
        </form>
      </div>
      <div class="register-form-container">
        <h2 class="form-header">Sign up to get access.</h2>
        <form class="register-form">
          <div class="form-row">
            <input type="text" class="form-input first-name-input">
            <input type="text" class="form-input last-name-input">
          </div>
          <div class="form-row">
            <input type="text" class="form-input">
          </div>
          <div class="form-row">
            <input type="text" class="form-input last-name-input">
          </div>
          <div class="form-row">
            <input type="submit" class="form-submit" value="GET STARTED">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
