<div class="widget-container">
  <h2 class="widget-header">User Management > Add User</h2>
  <hr class="widget-header-seperator">
  <div class="user-profile-container">
    <div class="user-profile-row">
      <div class="user-profile-title-container">
        <p class="user-profile-title">First Name:</p>
      </div>
      <div class="user-profile-input-container">
        <input type="text" class="user-profile-input" placeholder="Walter" name="firstName" #firstName>
      </div>
    </div>
    <div class="user-profile-row">
      <div class="user-profile-title-container">
        <p class="user-profile-title">Last Name:</p>
      </div>
      <div class="user-profile-input-container">
        <input type="text" class="user-profile-input" placeholder="White" name="lastName" #lastName>
      </div>
    </div>
    <div class="user-profile-row">
      <div class="user-profile-title-container">
        <p class="user-profile-title">Username:</p>
      </div>
      <div class="user-profile-input-container">
        <input type="text" class="user-profile-input" placeholder="Heisenberg" name="username" #username>
      </div>
    </div>
    <div class="user-profile-row">
      <div class="user-profile-title-container">
        <p class="user-profile-title">Email:</p>
      </div>
      <div class="user-profile-input-container">
        <input type="text" class="user-profile-input" placeholder="heisenberg@gmail.com" name="email" #email>
      </div>
    </div>
    <div class="user-profile-row">
      <div class="user-profile-title-container">
        <p class="user-profile-title">Password:</p>
      </div>
      <div class="user-profile-input-container">
        <input type="password" class="user-profile-input" placeholder="**********" name="password" #password>
      </div>
    </div>
    <div class="user-profile-actions-container">
      <button class="user-profile-action-button cancel-button" [routerLink]="['/home']">Cancel</button>
      <button class="user-profile-action-button save-button" (click)="addUser(firstName.value, lastName.value, username.value, email.value, password.value)">Save</button>
    </div>
</div>
