<div class="widget-container">
  <h2 class="widget-header">User Management > Edit Password</h2>
  <hr class="widget-header-seperator">
  <div class="user-profile-container" *ngIf="user">
    <div class="user-profile-row">
      <div class="user-profile-title-container">
        <p class="user-profile-title">First Name:</p>
      </div>
      <div class="user-profile-output-container">
        <p class="user-profile-output">{{user.firstName}}</p>
      </div>
    </div>
    <div class="user-profile-row">
      <div class="user-profile-title-container">
        <p class="user-profile-title">Last Name:</p>
      </div>
      <div class="user-profile-output-container">
        <p class="user-profile-output">{{user.lastName}}</p>
      </div>
    </div>
    <div class="user-profile-row">
      <div class="user-profile-title-container">
        <p class="user-profile-title">Username:</p>
      </div>
      <div class="user-profile-output-container">
        <p class="user-profile-output">{{user.username}}</p>
      </div>
    </div>
    <div class="user-profile-row">
      <div class="user-profile-title-container">
        <p class="user-profile-title">Email:</p>
      </div>
      <div class="user-profile-output-container">
        <p class="user-profile-output">{{user.email}}</p>
      </div>
    </div>
    <div class="user-profile-row">
      <div class="user-profile-title-container">
        <p class="user-profile-title">Password:</p>
      </div>
      <div class="user-profile-output-container">
        <input type="password" class="user-profile-input" placeholder="**********" name="password" #password (keyup)="0">
      </div>
      <div class="user-profile-edit-container">
        <a class="fa fa-save" (click)="updatePassword({userId: user.userId, password: password.value})"></a>
      </div>
    </div>
  </div>
</div>
