<div class="login-register-container">
  <div class="forms-container">
    <h1 class="app-header">AUTH APP</h1>
    <ul class="forms-selector-list">
      <li class="forms-selector-option forms-selector-option-active" (click)="toggleForm(0)">Login</li>
      <li class="forms-selector-option" (click)="toggleForm(1)">Register</li>
    </ul>
    <div class="forms-output-container">
      <div class="form-container form-container-visible">
        <h2 class="form-header">Head on in.</h2>
        <form class="login-form">
          <div class="form-row">
            <input type="text" class="form-input" placeholder="Email" #email (keyup)="0">
          </div>
          <div class="form-row">
            <input type="password" class="form-input" placeholder="Password" #password (keyup)="0">
          </div>
          <div class="form-row">
            <input type="submit" class="form-submit" value="LOG IN" (click)="login({email: email.value, password: password.value})">
          </div>
        </form>
      </div>
      <div class="form-container">
        <h2 class="form-header">Sign up to get access.</h2>
        <form class="register-form">
          <div class="form-row">
            <input type="text" class="form-input first-name-input" placeholder="First Name" #regFirstName>
            <input type="text" class="form-input last-name-input" placeholder="Last Name" #regLastName>
          </div>
          <div class="form-row">
            <input type="text" class="form-input" placeholder="Username" #regUsername>
          </div>
          <div class="form-row">
            <input type="text" class="form-input" placeholder="Email" #regEmail>
          </div>
          <div class="form-row">
            <input type="password" class="form-input" placeholder="Password" #regPassword>
          </div>
          <div class="form-row">
            <input type="submit" class="form-submit" value="GET STARTED" (click)="register({firstName: regFirstName.value, lastName: regLastName.value, username: regUsername.value, email: regEmail.value, password: regPassword.value})">
          </div>
        </form>
      </div>
      <flash-messages></flash-messages>
    </div>
  </div>
</div>
