<div class="app-navigation-container">
  <div class="app-navigation">
    <div class="header-container">
      <h2 class="header-logo">AUTH APP</h2>
      <a class="fa fa-bars menu-toggle"></a>
    </div>
    <div class="profile-container">
      <div class="profile-row">
        <a class="fa fa-info"></a>
        <img class="profile-image" src="http://placehold.it/100x100">
        <a class="fa fa-envelope"></a>
      </div>
      <div class="profile-row description-row">
        <p class="profile-username">John Doe</p>
        <p class="profile-job-title">Web Developer</p>
      </div>
    </div>
    <div class="menu-container">
      <p class="menu-header">Navigation</p>
      <ul class="top-level-menu">
        <li class="top-level-item" (click)="setActiveSubMenu(0)">
          <div class="top-level-item-content">
            <a class="fa fa-user"></a>
            <p class="top-level-item-header">Users</p>
            <a class="fa fa-caret-down"></a>
          </div>
          <ul class="second-level-menu" [ngStyle]="subMenuStyle(0)">
            <li class="second-level-item">
              <div class="second-level-item-content">
                <a class="fa fa-cog"></a>
                <p class="second-level-item-header">Manage</p>
              </div>
            </li>
            <li class="second-level-item">
              <div class="second-level-item-content">
                <a class="fa fa-plus"></a>
                <p class="second-level-item-header">Add</p>
              </div>
            </li>
            <li class="second-level-item">
              <div class="second-level-item-content">
                <a class="fa fa-ban"></a>
                <p class="second-level-item-header">Delete</p>
              </div>
            </li>
            <li class="second-level-item">
              <div class="second-level-item-content">
                <a class="fa fa-pencil-square-o"></a>
                <p class="second-level-item-header">Update</p>
              </div>
            </li>
          </ul>
        </li>
        <li class="top-level-item" (click)="setActiveSubMenu(1)">
          <div class="top-level-item-content">
            <a class="fa fa-lock"></a>
            <p class="top-level-item-header">Admin</p>
            <a class="fa fa-caret-down"></a>
          </div>
          <ul class="second-level-menu" [ngStyle]="subMenuStyle(1)">
            <li class="second-level-item">
              <div class="second-level-item-content">
                <a class="fa fa-database"></a>
                <p class="second-level-item-header">Database</p>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
