<div class="widget-container">
  <h2 class="widget-header">User Management</h2>
  <hr class="widget-header-seperator">
  <table class="user-management-table" *ngIf="users">
    <thead></thead>
    <tr class="primary-row">
      <td>First Name</td>
      <td class="last-name-header">Last Name</td>
      <td>Username</td>
      <td class="email-header">Email</td>
      <td class="delete-user">Delete</td>
    </tr>
    <tr class="output-row" *ngFor="let user of users">
      <td [routerLink]="['/user']">{{user.firstName}}</td>
      <td class="last-name-output" [routerLink]="['/user']">{{user.lastName}}</td>
      <td [routerLink]="['/user']">{{user.username}}</td>
      <td class="email-output" [routerLink]="['/user']">{{user.email}}</td>
      <td class="delete-user"><a class="fa fa-trash delete-user-link" (click)="deleteUser({userId: user.userId})"></a></td>
    </tr>
  </table>
</div>
